/* Genel Sayfa Yapısı */
.fishpage-product-page {
  display: flex;
  padding: 20px;
  background-color: #f9f9f9;
}

/* Sol taraftaki filtre bölümü */
.fishpage-sidebar {
    width: 300px; /* Genişliği artırdım */
    background-color: #fff;
    height: 250px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-right: 30px; /* Sağ tarafta boşluk için artırdım */
  }

.fishpage-sidebar h3 {
  font-size: 18px;
  margin-bottom: 15px;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
}

.fishpage-filter-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.fishpage-filter-section ul li {
  margin-bottom: 10px;
}

.fishpage-filter-section ul li input {
  margin-right: 10px;
}

/* Sağ taraftaki ürünlerin listelendiği bölüm */
.fishpage-products {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.fishpage-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.fishpage-product-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Ürün kartları */
.fishpage-product-carousel {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 sütun */
  gap: 10px;
}

.fishpage-product-carousel .product-item {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 250px;
  margin: 0 auto;
}

.fishpage-product-carousel .product-item img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.fishpage-product-carousel .product-item h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.fishpage-product-carousel .product-item p {
  font-size: 14px;
  color: #555;
}

/* Duyarlı tasarım (Responsive) */
@media (max-width: 768px) {
  .fishpage-product-page {
    flex-direction: column;
  }

  .fishpage-sidebar {
    width: 100%;
    margin-bottom: 20px;
  }

  .fishpage-product-carousel {
    grid-template-columns: repeat(2, 1fr); /* Küçük ekranlarda 2 sütun */
  }
}
